.text-button {
    width: 165px;
    height: 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

.text-button a {
    text-decoration: none;
}

.text-button p {
    font-family: Poppins, Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
}

.text-button:hover {
    cursor: pointer;
    transform: scale(1.1);
}