.navbar {
    max-width: 1217px;
    background-image: url(../assets/images/mountain.png);
    padding: 40px 20px;
    margin: 50px 300px;
    display: flex;
    justify-content: space-between;
}

.navbar h1 {
    font-size: 22px;
    color: white;
    font-weight: 500;
}

.buttonContainer {
    display: flex;
    gap: 30px;
}